[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sysAgNPs"]
	path = sysAgNPs
	url = https://github.com/xitingwang-ida/sysagnps
